<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web application</title>
</head>
<body>
<h2>Enjoy Zero To Hero</h2>

<form id="form1" name="zerotohero" action="info" enctype="multipart/form-data" method="GET">
    <table>
        <tr>
            <td colspan="2">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName"/>
            </td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
            <td>
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="submmit" value="Submmit">
            </td>
        </tr>
    </table>


</form>

<script type="application/javascript" src="js/cookie.js "></script>

</body>
</html>